@import '../style.scss';

.green-btn {
    color: white;
    background-color: $green-brand;
    border: 1px solid $green-brand;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 15px;

    &:hover,
    &:focus {
        color: $green-brand;
        background-color: white;
        border: 1px solid $green-brand;
    }

    &--sm {
        padding: 10px;
        font-size: 10px;
        border-radius: 3px;
    }

}

.white-btn {
    color: $green-brand;
    background-color: white;
    border: 1px solid $green-brand;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 15px;

    &:hover,
    &:focus {
        color: white;
        background-color: $green-brand;
    }

}
