.menu-container {
    text-align: center;
    padding: 20px 0;

    button {
        background-color: transparent;
        border: none;
        text-transform: uppercase !important;
    }

    nav {
        list-style-type: none;

        li a {
            text-decoration: none;
            color: inherit;

            &:hover,
            &:focus {
                text-decoration: underline;
            }

        }

    }

}
