.menu-container {
    text-align: center;
    padding: 20px 0;

    button {
        background-color: transparent;
        border: none;
        text-transform: uppercase !important;
    }

    nav {
        margin-top: 20px;
        list-style-type: none;

        .active {
            font-weight: 700;
        }

        li a {
            text-decoration: none;
            color: inherit;

            &:hover,
            &:focus {
                text-decoration: underline;
            }

        }

    }

    @media screen and (max-width: 480px) {
        font-size: 22px;

        nav li {
            margin-bottom: 24px;

          }

      }

}
