.events {

    &__entry-msg {
        text-align: center;
    }

    h2 {
        font-size: 22px;
        text-transform: uppercase;
    }

    .event-day {

        &__heading {
            text-transform: uppercase;
            color: white;
            background-color: #189960;
            padding: 15px;

            h3 {
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 0;
            }

        }

        &__entry-even {
            background-color: #f5f5f5;
        }

        &__entry-odd,
        &__entry-even {
            padding: 25px;
            border-left: 1px solid #eee;
            border-right: 1px solid #eee;
            border-bottom: 1px solid #eee;

            h2 {
                margin-bottom: 0px;
                text-transform: none;
                font-weight: bold;
            }

            p:last-child {
                margin-bottom: 10px;
            }

        }

        .single-event__location {
            font-weight: bold;
        }

        .event-description p {
            margin-bottom: 0px;
        }

    }

    &__specials {
        padding-top: 40px;
    }

}
