@import '../style.scss';

.events {

    &__entry-msg {
        text-align: center;
    }

    h2 {
        font-size: 22px;
        text-transform: uppercase;
    }

    &__specials {
        padding-top: 40px;
    }

}
