@import '../style.scss';

.homepage-content {
    background-color: $light-grey-bg;
    text-align: center;
    padding: 70px 20px;

    h3 {
        text-align: center;
    }

    hr {
        margin: 70px auto;
        width: 50%;
    }

    p:last-child {
        margin-bottom: 0;
    }

}
