.homepage-content {
    background-color: #eee;
    text-align: center;
    padding: 70px 0;

    h3 {
        text-align: center;
    }

    hr {
        margin: 70px auto;
        width: 50%;
    }

    p:last-child {
        margin-bottom: 0;
    }

}
