@import '../style.scss';

.homepage-hero {
    background-image: url("../../images/Holly-Lodge-Community-Centre-homepage-hero-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $green-brand;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 460px;

    &__box-one {
        color: white;
        margin: 0 auto;
        max-width: 1170px;
        text-align: center;

        h2 {
            font-size: 40px;
            background-color: rgba(0,0,0,0.4);
            border-radius: 5px;
            padding: 15px;
        }

    }

    &__box-two {
        color: white;
        margin: 0 auto;
        max-width: 1170px;
        text-align: center;

        h1 {
            font-size: 30px;
            background-color: rgba(0,0,0,0.4);
            border-radius: 5px;
            padding: 15px;
        }

    }

    &__btn-group {
        display: flex;
        margin: 0 auto;
        max-width: 1170px;
        text-align: center;

        *:first-child {
            margin-right: 40px;
        }

        .btn-green {

            &:hover,
            &:focus {
                border: 1px solid white;
            }
        }

        .btn-white {
            border: 1px solid white;

            &:hover,
            &:focus {
                border: 1px solid $green-brand;
            }
        }

    }

}
